.zkspace {
  background: #050201;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  color: white;
  text-align: center;
  background-image: url("https://static.footprint.network/activity/kcc/img_kcc_bg.png");
  background-size: 1920px 820px;
  background-repeat: no-repeat;
  background-position: top center;
  font-family: nanum-myeongjo;
  padding-bottom: 20px;
}

.zkspace__task-title {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0 8px 0;
  color: #d2a562;
}

.zkspace__item-todo {
  font-size: 16px;
  color: #8f8f8f;
  line-height: 24px;
  margin-left: 24px;
  font-weight: normal;
  white-space: pre-line;
}

.zkspace__item-todo a {
  text-decoration: underline;
  color: #8f8f8f;
}

.zkspace__item {
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
  margin-top: 4px;
  color: #e0cc97;
}

.zkspace__item:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ff861e;
  border-radius: 50%;
  margin-right: 12px;
}

.zkspace__button {
  width: 380px;
  height: 97px;
  font-size: 24px;
  color: black;
  font-weight: bold;
  background-image: url("https://static.footprint.network/activity/kcc/img_sign_in_button.png");
  background-repeat: no-repeat;
  background-size: 380px 97px;
  font-family: nanum-myeongjo;
}

.zkspace__head {
  height: 380px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 60px;
}

.zkspace__box {
  height: 560px;
  width: 1000px;
  border: 5px #d2a562 solid;
  margin: 60px auto 0px;
  background: #0b0b0bbb;
}

.zkspace__task-list {
  width: 720px;
  margin: 20px auto 10px;
  text-align: left;
}

.zkspace__media {
  display: flex;
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

.zkspace__slogan {
  font-size: 36px;
  width: 400px;
  line-height: 40px;
  text-align: left;
}

.zkspace__logo {
  text-align: left;
  margin: 60px 0 20px;
  display: flex;
  flex-direction: column;
}

.zkspace__line {
  border-left: #ffffff 1px solid;
  margin: 0 15px;
}

.zkspace__submit-tip {
  font-size: 16px;
  color: white;
  margin-bottom: 6px;
  margin-top: 12px;
}

.zkspace__button-submit {
  width: 380px;
  height: 97px;
  font-size: 24px;
  color: black;
  font-weight: bold;
  background-image: url("https://static.footprint.network/activity/kcc/img_sign_in_button.png");
  background-repeat: no-repeat;
  background-size: 380px 97px;
  font-family: nanum-myeongjo;
  margin: 6px auto 0;
}

.zkspace__address {
  width: 400px;
}

.zkspace__star {
  color: red;
  font-size: 20px;
  margin-right: 6px;
}
