.article-recommend {
  border-bottom: var(--footprint-border);
}

.article-recommend__section-head {
  margin: var(--footprint-spacing-s) 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.article-recommend__section-head-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.article-recommend__title {
  margin-right: 30px;
}

.article-recommend__list {
  width: 100%;
  display: flex;
  grid-gap: var(--footprint-spacing-s);
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-recommend__item {
  width: 318px;
  height: 250px;
  cursor: pointer;
}

.article-recommend__item-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  border-radius: 4px;
}

.article-recommend__item-image .preview-dashboard-card__thumb {
  width: 100%;
  background-size: 100%;
  background-position-y: center;
}

.article-recommend__item-image .preview-dashboard-card__default-thumb {
  width: 100%;
}

.article-recommend__item-title {
  line-height: 20px;
  margin-top: var(--footprint-spacing-s);
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.article-recommend__item-desc {
  font-size: 14px;
  color: #63727f;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.article-recommend__item .dashboard-card-display-info {
  justify-content: left !important;
  padding: 0 !important;
  margin: var(--footprint-spacing-s) 0 !important;
}

.article-recommend-see {
  cursor: pointer;
}
