
.swiper {
  width: 780px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 780px;
  height: 410px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.feature__public-dashboard {
  padding: 20px;
  width: 780px;
  height: 410px;
}

.mySwiper .swiper-pagination-bullet {
  height: 16px;
  width: 16px;
}
