.dashboards__area {
  background: #fafafc;
  padding: 16px 8px;
  margin: 20px 0;
}
.dashboards__cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--footprint-spacing-s);
}

.dashboards__cell h2 {
  font-size: 20px;
  font-weight: normal;
  color: #303440;
}

.dashboards__cell a {
  font-size: 14px;
}

.dashboards__wrap {
  background-color: #fff;
  min-height: 1000px;
}

.dashboards__layout {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0;
}

.dashboards__layout-side {
  width: 100%;
  margin-left: 24px;
  margin-bottom: 50px;
  max-width: 330px;
}

.dashboards__list-column {
  background: red;
}

.dashboards__grid {
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.dashboards__grid .preview-dashboard-card {
  height: 300px;
}

@media screen and (--footprint-breakpoint-max-home-width) {
  .dashboards__layout {
    width: 100%;
    flex-direction: column;
    padding: 0 20px;
  }
  .dashboards__cell {
    padding: 10px;
  }
  .dashboards__layout-side {
    width: 100%;
    margin-left: 0;
    max-width: 1440px;
  }
}

@media screen and (--footprint-breakpoint-max-pad) {
  .dashboards__layout {
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
  }
  .dashboards__cell {
    padding: 10px;
  }
  .dashboards__layout-side {
    margin-left: 0;
    max-width: 1440px;
  }
}

@media screen and (--footprint-breakpoint-max-mobile) {
  .dashboards__layout {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
}
