.dashboards__creator-list {
  height: 550px;
  overflow-y: scroll;
  padding: 10px 0;
}

.dashboards__creator-list::-webkit-scrollbar {
  display: none;
}

.dashboards__creator-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.dashboards__creator-list li:last-child .dashboards__creator-list-item {
  border-bottom: 0;
}

.dashboards__creator-list-l {
  display: flex;
  align-items: center;
}

.dashboards__creator-list-l h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 170px;
  color: #303440;
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
}

.dashboards__creator-list-l time {
  font-size: 12px;
  color: #acacb2;
}

.dashboards__creator-list-l img {
  width: 25px;
  height: 25px;
  min-width: 25px;
  border-radius: 100%;
  margin-right: 10px;
}

.dashboards__creator-list-l .ant-avatar {
  width: 25px;
  height: 25px;
  min-width: 25px;
  margin-right: 10px;
  color: #303440;
  font-size: 12px;
  line-height: 25px;
}

.dashboards__creator-list-r {
  background: #f2f2f2;
  color: #303440;
  font-size: 12px;
  width: 32px;
  padding: 6px 0;
  text-align: center;
}
