.About {
  min-height: 100vh;
  color: #fff;
  font-size: 14px;
}

.About:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(https://static.footprint.network/20220606145109.png);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #0c0c34;
  content: "";
}

.About a:hover {
  color: inherit;
}

.About__container {
  width: 1200px;
  margin: 0 auto;
}

.About__title {
  font-size: 36px;
  color: #fff;
  line-height: 1.2;
}

.About__btn {
  border-radius: 2px;
  height: 32px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.About__btn img {
  height: 18px;
  margin-right: 8px;
}

.About__btn--gray {
  border: 1px solid #84848a;
  background-color: transparent;
  color: #84848a;
}

.About__btn--blue {
  background-color: #2a2aeb;
  color: #fff;
}

.About__btn--black {
  background-color: #181818;
}

.About__btn--lg {
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  padding: 0 54px;
  margin-top: 36px;
}

.About__btn--md {
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  padding: 0 24px;
  margin-top: 36px;
}

.About__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
}

.About__header-left {
  display: flex;
  align-items: center;
}

.About__header-logo {
  height: 28px;
  margin-right: 60px;
}

.About__header-nav {
  display: flex;
}

.About__header-nav li {
  margin-right: 30px;
}

.About__header-right {
  display: flex;
  align-items: center;
}

.About__header-right .About__btn {
  margin-left: 12px;
}

.About__search {
  background-color: #ffffff;
  border-radius: 2px;
  height: 32px;
  width: 116px;
  display: flex;
  align-items: center;
  color: #84848a;
  padding: 0 12px;
  margin-right: 12px;
}

.About__search-icon {
  color: #84848a;
  font-size: 16px;
  margin-right: 6px;
}

.About__search-input {
  width: 100%;
  border: none;
  outline: none;
}

.About__start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 0;
}

.About__start-logo {
  height: 83px;
  margin-bottom: 18px;
}

.About__start-title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 36px;
}

.About__see {
  position: relative;
  margin-top: 52px;
}

.About__see-pic {
  border: 0;
  width: 1120px;
  height: 520px;
  border-radius: 4px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.About__see .About__btn {
  position: absolute;
  width: 192px;
  padding: 0;
  top: 50%;
  left: 50%;
  margin-left: calc(-192px / 2);
  margin-top: calc(-48px / 2);
}

.About__cover {
  height: 618px;
  padding: 100px 0;
  background-size: cover;
}

.About__cover-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.About__cover-list ul {
  display: flex;
}

.About__cover-list li {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.About .ant-spin-dot-item {
  background-color: #fff;
}

.About__cover-list h3 {
  margin-bottom: 40px;
}

.About__cover-list b {
  font-family: Montserrat;
  font-size: 36px;
  color: #fff;
  line-height: 1.2;
}

.About__cover-list h4 {
  font-size: 16px;
  color: #84848a;
  margin-top: 10px;
  font-weight: 400;
}

.About__section {
  padding: 100px 0;
  border-bottom: 1px solid #2e2e72;
}

.About__section--borderless {
  border-bottom: 0;
}

.About__section h3 {
  margin-bottom: 40px;
}

.About__section-wrap {
  display: flex;
  justify-content: space-between;
}

.About__section-wrap--reverse {
  flex-direction: row-reverse;
}

.About__section-side {
  width: 332px;
}

.About__section-side h4 {
  margin-top: 20px;
}

.About__section-side ul {
  margin-top: 28px;
}

.About__section-side li {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  padding: 14px 20px;
  cursor: pointer;
  border-left: 3px solid transparent;
  margin-bottom: 10px;
}

.About__section-side li:hover,
.About__section-side li.About__section-side--active {
  background-color: #24244c;
  border-left: 3px solid #2a2aeb;
}

.About__section-side h4 {
  font-size: 24px;
  color: #fff;
  line-height: 1.2;
}

.About__section-side p {
  font-size: 16px;
  color: #84848a;
  line-height: 1.2;
  margin-top: 12px;
}

.About__section-img {
  width: 788px;
  height: auto;
  min-width: 788px;
  min-height: 400px;
  border: 4px solid #525252;
  border-radius: 4px;
}

.About__section-img-placeholder {
  padding: 20px;
}

.About__service {
  padding: 100px 0;
  background-color: #18183e;
  background-repeat: no-repeat;
  background-position: 100% 90%;
  background-size: 30%;
}

.About__service ul {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.About__service li {
  width: 374px;
  height: 254px;
  background-color: #0c0c34;
  border: 1px solid #2e2e72;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

.About__service-icon {
  height: 48px;
  margin-bottom: 24px;
}

.About__service-button {
  background: #2a2aeb;
  border: 0;
  font-size: 16px;
  color: white;
}

.About__service h4 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 12px;
  color: #fff;
}

.About__service p {
  font-size: 14px;
  color: #84848a;
  line-height: 20px;
  height: 60px;
}

.About__service small {
  font-size: 14px;
  color: #84848a;
}

.About__service a {
  font-size: 14px;
  color: #5c5ce0;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
}

.About__service a:hover {
  color: #5c5ce0;
}

.About__service .anticon {
  margin-left: 8px;
}

.About__explore {
  padding: 100px 0;
}

.About__explore--card {
  background-color: #18183e;
}

.About__explore--card .About__explore-list-left img {
  object-position: center top;
}

.About__explore-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.About__explore-title a {
  border: 1px solid #84848a;
  border-radius: 2px;
  font-size: 16px;
  color: #84848a;
  padding: 4px 12px;
  transition: unset;
}

.About__explore-title a:hover {
  color: #fff;
  border-color: #fff;
}

.About__explore-nav {
  display: flex;
}

.About__explore-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  cursor: pointer;
  padding: 11px 12px;
  font-size: 16px;
  color: #84848a;
  line-height: 20px;
}

.About__explore-nav li:hover,
.About__explore-nav li.About__explore-nav--active {
  background-color: #2a2aeb;
  border-radius: 2px;
  color: #fff;
}

.About__explore-list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.About__explore-skeleton {
  margin-top: 40px;
  height: 336px;
}

.About__explore-list-left {
  background-color: #18183e;
  border: 1px solid #2e2e72;
  border-radius: 4px;
  width: 520px;
  min-width: 520px;
  height: 336px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-right: 48px;
}

.About__explore-list-left img {
  border-radius: 4px;
  width: 100%;
  height: 272px;
  background-color: #fff;
  object-fit: cover;
  object-position: left top;
}

.About__explore-list-left h3 {
  font-size: 20px;
  color: #fff;
  line-height: 1;
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.About__explore-list-right {
  border-left: 1px solid #2e2e72;
  padding-left: 48px;
}

.About__explore-list-news-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 583px;
  padding: 26px 0;
  border-bottom: 1px solid #2e2e72;
}

.About__explore-list-right li:first-child a {
  padding-top: 0;
}

.About__explore-list-right li:last-child a {
  padding-bottom: 0;
  border-bottom: 0;
}

.About__explore-list-right h3 {
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80%;
}

.About__explore-list-arrow {
  width: 26px;
}

.About__explore-list-news-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: 1px solid #2e2e72;
}

.About__explore-list-news-card h3 {
  white-space: unset;
  line-height: 1.2;
  margin-bottom: 12px;
  max-width: 100%;
}

.About__explore-list-news-card span {
  font-size: 14px;
  color: #84848a;
}

.About__explore-list-news-card img {
  min-width: 206px;
  width: 206px;
  height: 118px;
  background-color: #fff;
  margin-left: 24px;
  object-fit: cover;
  object-position: center top;
}

.About__backed,
.About__partner {
  padding: 100px 0;
}

.About__backed ul,
.About__partner ul {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.About__backed li,
.About__partner li {
  background-color: #fff;
  border-radius: 4px;
  height: 130px;
}

.About__partner li {
  height: 83px;
}

.About__backed a,
.About__partner a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.About__backed img,
.About__partner img {
  object-fit: scale-down;
  width: 90%;
  height: 50%;
}

.About .home-footer-container {
  height: 300px;
  background-color: #18183e;
}

.About .home-footer {
  width: 1200px;
}
