.ResourceBox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.ResourceBox__container ul {
  max-width: 1200px;
  display: grid;
  grid-row-gap: var(--footprint-spacing-l);
  grid-column-gap: var(--footprint-spacing-l);
  grid-template-columns: 1fr 1fr 1fr;
}


.ResourceBox__container ul li {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  border: solid 1px var(--color-border-dark);
}

.ResourceBox__container ul li:hover {
  border: solid 1px var(--color-primary-dark);
}

.ResourceBox__container ul img {
  width: 300px;
  object-fit: scale-down;
}

.ResourceBox__container ul li span {
  padding: 0 10px;
  color: #ffffffe0;
}

.ResourceBox__text-layout {
  padding: 8px 0;
}

.ResourceBox__divide {
  border-bottom: solid 1px var(--color-border-dark);
}
