.edu {
  padding-bottom: 30px;
  min-height: 100vh;
}

.edu__body {
  width: 100%;
  margin: 0 auto;
  padding: var(--footprint-spacing-xl) 0;
}

.edu .explore__category-list {
  max-width: 1440px;
}

.edu__root {
  width: 100%;
  display: flex;
}

.edu__left-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.edu__left-item {
  width: 100%;
  height: 40px;
  background: white;
  padding: 6px 12px;
  margin: 2px 6px;
  display: flex;
  align-items: center;
}

.edu__left-item-select {
  border-right: 5px solid var(--color-brand);
}

.edu__left-item:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.edu__right {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.edu__right-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
  margin: 0 18px;
  height: fit-content;
}

.edu__right-pagination {
  text-align: center;
  margin: 20px auto;
}

.edu__right-container-section {
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
}
.edu__right-container-section:not(first-child) {
  padding: 24px 12px 12px;
}

.edu__right-container-section-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

.edu__right-item {
  margin: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edu__right-box-item {
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*background: white;*/
}

.edu__right-box-item a {
  width: 360px;
  /*height: 220px;*/
}

.edu__right-item-title {
  padding: 12px;
  font-size: 20px;
  margin-left: 12px;
  font-weight: bold;
}

.edu .explore__category-list a {
  background: white;
}

.edu .explore__category-list a:hover {
  color: var(--color-brand);
}

.edu .edu__right-box-item a {
}

.edu__right-container .dashboards__recommendations-title {
  color: var(--color-brand);
  margin-top: 4px;
}

.edu__right-container .dashboards__recommendations-title:hover {
  color: var(--color-brand);
  text-decoration: underline;
}

.edu__right-container .dashboards__recommendations-thumb {
  width: auto;
}

.edu__right-container .dashboards__recommendations-title {
  white-space: initial;
}

.edu__right-container .dashboards__recommendations-video {
  width: 100%;
}

.edu__root .tutorials__visualizations {
  width: 100%;
  margin: 18px 8px;
}

.edu__layout {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.edu__layout-side {
  width: 320px;
  margin-left: 28px;
  margin-bottom: 50px;
}

@media screen and (--footprint-breakpoint-max-pad) {
  .edu__layout {
    width: 100%;
    flex-direction: column;
    padding: 0 18px;
  }
  .edu___cell {
    padding: 48px 20px 20px 20px;
  }
  .edu__layout-side {
    margin-left: 0;
    width: 100%;
  }
  .edu .explore__wrap {
    padding: 0 20px;
  }
}

@media screen and (--footprint-breakpoint-max-mobile) {
  .edu__layout {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .edu__layout-side {
    margin-left: 0;
    width: 100%;
  }
}
