.my-profile {
  display: flex;
  align-items: center;
  padding: 20px 20px 0;
}

.my-profile .creator__personal-base-logo {
  width: 60px;
  height: 60px;
  min-width: 60px;
  border-radius: 50%;
}

.my-profile__right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
