.my-profile {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 20px 0 40px;
}

.my-profile .creator__personal-base-logo {
  width: 30px;
  height: 30px;
  min-width: 30px;
  border-radius: 50%;
}

.my-profile__right {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
}

.my-profile__right h3 {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
