.zkspace-first-model .Modal {
  width: 480px;
  height: 520px;
  background-color: #453be6;
  background-image: url("https://static.footprint.network/activity-zkspace/img-first-popup-bg.png");
  background-repeat: no-repeat;
  background-size: 480px 520px;
}

.zkspace-first-model__root {
  padding-top: 10px;
}

.zkspace-first-model__title {
  font-size: 32px;
  width: 360px;
  color: white;
  line-height: 40px;
  text-align: center;
  white-space: pre-line;
  font-weight: bold;
}

.zkspace-first-model__button {
  width: 300px;
  font-size: 18px;
  color: white;
  background: #ff861e;
  margin: 30px auto;
}

.zkspace-first-model__logo {
  text-align: left;
  margin-bottom: 20px;
}

.zkspace-first-model__line {
  border-left: #ffffff 1px solid;
  margin: 0 15px;
}
