.dashboard-header-title {
  flex-direction: row;
}

.QueryBuilder-section {
  flex-direction: row;
  align-items: center;
}

@media screen and (--footprint-breakpoint-max-mobile) {
  .dashboard-header-title {
    flex-direction: column;
    margin: 0 0 6px 0;
  }
  .QueryBuilder-section {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 12px;
  }
  .Header-buttonSection {
    padding-left: -10px;
  }
  .header-buttons {
    margin: 0 0 0 -8px;
  }
}
