.ant-table-tbody>tr>td, .ant-table-thead>tr>th, .ant-table tfoot>tr>td, .ant-table tfoot>tr>th {
  padding: 6px 16px;
}

.save-chart-to-ud-modal {
  width: 720px !important;
}

.ud-chart__form-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.ud-chart__form-item h3 {
  font-size: 16px;
  font-weight: normal;
}

.save-chart-to-ud-modal__desc {
  line-height: 18px;
  margin-bottom: 12px;
  text-align: left;
  color: var(--footprint-color-secondary-text1);
}

.ud-chart__fail-tip {
  color: red;
  margin-bottom: 12px;
}
