.batch-download-price {
  width: 1000px;
}

.cal-price {
  width: 1200px;
  min-height: 400px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 40px;
}

.price-table {
  width: 1200px;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 20px;
}

.batch-download-head {
  background: #F8F8FF;
  width: 100%;
  border-radius: 20px 20px 0 0;
  padding: 20px;
}

.batch-download-head ul {
  display: flex;
  font-size: 18px;
  color: #2E3441;
  font-weight: bold;
}
.batch-download-head ul li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 8px;
}
.batch-download-head ul li .batch-download-head__sub-item {
  display: flex;
  justify-content: center;
  font-size: 14px;
  width: 100%;
}
.batch-download-head ul li .batch-download-head__sub-item-li {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.batch-download-content {
  font-size: 16px;
  color: #303440;
  background: #FFFFFF;
  padding: 0 20px 20px 20px;
  border-radius: 0 0 20px 20px;
}

.batch-download-content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.batch-download-content ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.batch-download-content ul li:nth-child(even) {
  background: #FCFCFC;
  border-radius: 8px;
}

.batch-download-content ul li div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.batch-download-head__desc {
  color: #BBBBBB;
  font-size: 14px;
}

.cal-price h2 {
  color: #2E3441;
  font-size: 24px;
}

.cal-price h3 {
  color: #2E3441;
  font-size: 18px;
}

.cal-price__panel {
  width: 100%;
  height: 100%;
  border: 1px solid #3434B2;
  border-radius: 20px;
  margin-top: 20px;
}

.cal-price__panel-ul {
  display: flex;
  padding: 20px;
}

.cal-price__panel-ul-li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cal-price__total {
  display: flex;
  flex-direction: column;
  float: right;
  margin: 20px;
  gap: 10px;
}

.cal-price__total span {
  color: #2E3441;
  font-size: 18px;
}

.cal-price__total h2 {
  color: #3434B2;
  font-size: 20px;
}
