.dashboards__creator-content {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}

.dashboards__creator-url {
  margin: 6px 0;
}

.dashboards__table-columns-odd {
  background: #fafafc;
}

.dashboards__table-columns-even {
  background: #ffffff;
}
