.SubmitContract {
  width: 100%;
  min-height: calc(100vh - 150px);
  padding: 60px;
  background-color: #f0f0ff;
}

.SubmitContract__steps {
  margin-top: 10px;
  margin-bottom: 20px;
}

.SubmitContract__add {
  width: 650px;
  margin: 0 auto;
}

.dark .SubmitContract {
  background-color: var(--color-ab-bg-dark);
}

.dark .SubmitContract span,
.dark .SubmitContract p {
  color: #ffffffb0;
}

.dark .SubmitContract__add p {
  color: #ffffffb0;
}

.SubmitContract .ant-tabs-top >.ant-tabs-nav, .ant-tabs-bottom >.ant-tabs-nav, .ant-tabs-top >div>.ant-tabs-nav, .ant-tabs-bottom >div>.ant-tabs-nav {
  margin: 0 0 8px 0;
}

.SubmitContract__back {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: fit-content;
}

.SubmitContract__back span {
  margin-left: 4px;
}

.SubmitContract__table-row {
  height: 40px;
}

.SubmitContract__table-row-fga {
  height: 80px;
}
