.vip-icon {
  position: relative;
  height: 28px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  border-radius: 14px;
}

.vip-icon__img {
  height: 34px;
  width: 30px;
}

.vip-icon__text {
  padding-left: 10px;
  padding-right: 20px;
}

.vip-icon__basic {
  color: #24a8fe;
}

.vip-icon__basic.vip-icon {
  background: #d9f3ff;
}

.vip-icon__pro {
  color: #f99b04;
}

.vip-icon__pro.vip-icon {
  background: #fff2d4;
}
