.journey__split-line {
  height: 1px;
  width: 100%;
  border-top: 1px solid #ffffff20;
}

.journey__vertical-line {
  height: 100%;
  width: 1px;
  border-left: 1px solid #ffffff20;
}

.journey-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 20px 0 20px;
  color: white;
  background: #101014;
  height: calc(100vh - 60px)
}

.journey-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: white;
  background: #101014;
  height: calc(100vh - 60px)
}

.journey-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: white;
  background: #101014;
  height: calc(100vh - 60px)
}

.journey-edit__main {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px 10px 0 0;
  background: #1B1B1E;
}

.journey-edit__condition {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ffffff20;
}

.journey-edit__chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.journey-head h3 {
  color: rgba(255, 255, 255, 0.85);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.journey-list .ant-table-cell {
  background: #1B1B1E;
}

.journey-edit__chart .ant-table-cell {
  background: #1B1B1E;
}

.journey-list .ant-table-tbody > tr > td {
  border-bottom: 1px solid #ffffff20;
}

.journey-edit__chart .ant-table-tbody > tr > td {
  border-bottom: 1px solid #ffffff20;
}

.journey-list .ant-table-tbody > tr > th {
  border-bottom: 1px solid #ffffff20;
}

.journey-edit__chart .ant-table-tbody > tr > th {
  border-bottom: 1px solid #ffffff20;
}

.journey-list .ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td {
  background: #242428;
  border-bottom: 1px solid #ffffff20;
}
.journey-edit__chart .ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td {
  background: #242428;
  border-bottom: 1px solid #ffffff20;
}

.journey-list__table {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background: #1B1B1E;
}

.journey-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.journey-edit__condition-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid #ffffff20;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.journey-edit .ant-modal .ant-modal-content {
  background: #1B1B1E;
}
.journey-edit .ant-input {
  background: #1B1B1E;
}
.journey-edit .ant-textarea {
  background: #1B1B1E;
}

.journey-detail h4 {
  color: #ffffffc0;
  font-size: 16px;
}

.journey-detail span {
  color: #ffffff90;
  font-size: 14px;
}
