.ace_editor.ace_autocomplete {
  border: none;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: white;
  color: #4c5773;
  width: 520px;
}

.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line,
.ace_editor.ace_autocomplete .ace_marker-layer .ace_line-hover {
  background-color: var(--color-brand-light);
  border: none;
  outline: none;
}

.ace_completion-highlight {
  color: var(--color-brand);
}

.ace_editor.ace_autocomplete .ace_line {
  font-weight: bold;
  padding-left: 4px;
}

.ace_editor.ace_autocomplete .ace_completion-meta {
  font-weight: 400;
}


.DarkMode .ace_editor .ace_gutter {
  background-color: #2d2d2d;
  color: #ebdab4;
}
.DarkMode .ace-tm .ace_cursor {
  color: white;
}
.DarkMode .ace_editor {
  background-color: #2d2d2d;
  color: #c0c0c0;
}
.DarkMode .ace-tm .ace_marker-layer .ace_selection {
  background: #b0604080;
  border-radius: 0;
  border: 0;
}
.DarkMode .ace-tm .ace_marker-layer .ace_selected-word {
  background: transparent;
  border: 0;
}
.DarkMode .ace_editor .ace_keyword {
  color: #e89393;
}

.DarkMode .ace_editor .ace_function,
.DarkMode .ace_editor .ace_variable {
  color: #cdfecd;
}
.DarkMode .ace_editor .ace_constant,
.DarkMode .ace_editor .ace_type {
  color: #fffc01cc;
}
.DarkMode .ace_editor .ace_string {
  color: #99b4d1;
}
.DarkMode .ace_editor .ace_templateTag {
  color: #99cc00;
}
.DarkMode .ace-tm .ace_indent-guide {
  opacity: 0.2;
}
