.side-bar-category {
  display: flex;
  border-bottom: var(--footprint-border);
}

.side-bar-category__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  height: 60px;
  font-weight: normal;
  flex: 1;
  justify-content: center;
}

.side-bar-category__item-selected {
  border-bottom: 4px solid #3434b2;
  border-top: 4px solid transparent;
  color: #3434b2;
}
