.icon_size_60 {
  width: 60px;
  height: 60px;
}

.icon_size_32 {
  width: 32px;
  height: 32px;
}

.icon_size_28 {
  width: 28px;
  height: 28px;
}

.icon_size_25 {
  width: 25px;
  height: 25px;
}

.icon_size_20 {
  width: 20px;
  height: 20px;
}

.icon_size_16 {
  width: 16px;
  height: 16px;
}

.icon_size_12 {
  width: 12px;
  height: 12px;
}
