.SuccessGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-accent1);
  padding: 4em;
}

.SuccessMark {
  display: flex;
  padding: 1em;
  border: 3px solid var(--color-accent1);
  border-radius: 99px;
  color: var(--color-accent1);
  line-height: 1;
}

.SuccessText {
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

#BridgeImg {
  position: relative;
  left: -1240px;
  bottom: -3px;
}

@media screen and (min-width: 800px) {
  #BridgeImg {
    left: -1040px;
  }
}

@media screen and (min-width: 1200px) {
  #BridgeImg {
    left: -840px;
  }
}

@media screen and (min-width: 1600px) {
  #BridgeImg {
    left: -640px;
  }
}

@media screen and (min-width: 1920px) {
  #BridgeImg {
    width: 100%; /* ensure the image always stretches the full width */
    left: 0px;
  }
}

.NavTitleActive {
  font-size: 24px;
  font-weight: bold;
  color: #2d2d2d;
}

.LoginSliderBg {
  position: relative;
  background-color: #100c20;
  background-size: 190px 235px, 271px 116px, 143px 137px, 1080px 265px;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
  background-position: left 60%, top right, 70% bottom, bottom center;
}

.LoginSliderWhatTitle {
  font-size: 28px;
  color: #d8d8d8;
  font-weight: bold;
}

.LoginSliderWhatDesc {
  font-size: 16px;
  color: #d8d8d8;
  margin: 0 calc(15% - 20px);
}

.LoginSliderDots {
  color: red;
  background-color: red;
  width: 40px;
}

.ant-carousel .slick-dots li {
  width: 5px !important;
  height: 5px !important;
}

.ant-carousel .slick-dots li.slick-active {
  width: 5px !important;
  height: 5px !important;
}

.loginBottomSignButton {
  color: #acacb2;
  text-align: center;
  width: 300px;
  height: 30px;
  line-height: 30px;
  margin: 5px auto;
  font-size: 14px;
  font-weight: normal;
}

.loginBottomSignButton .link {
  color: #1585ff;
  font-weight: normal;
}

.forgotPassword .link {
  color: #1585ff;
  font-weight: normal;
}

.signUpProgressLine {
  height: 2px;
  margin: 0 20px;
  width: 100px;
  flex: 1;
  border-bottom: 2px #dcdde5 dashed;
}

.signUpProgressLineActive {
  height: 2px;
  margin: 0 30px;
  width: 100px;
  flex: 1;
  border-bottom: 2px #3434b2 dashed;
}

.signUpProgressCircleBg {
  border-radius: 15px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background: #e9e9e9;
  font-weight: bold;
  color: white;
}

.signUpProgressCircleBgActive {
  border-radius: 15px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background: #3434b2;
  font-weight: bold;
  color: white;
}

.loginModalRoot {
  margin: auto;
  width: 840px;
  max-height: 90%;
  background: transparent !important;
  padding: 0;
  overflow: visible;
}

.loginModalContent {
  margin: 0 20px;
  min-height: 580px;
  background: white;
  padding: 0;
}

.loginModalInner {
  height: 100%;
  min-width: 500px;
  padding: 30px;
  background: white;
  flex: 1;
  justify-content: center;
}

.loginModalClose {
  position: absolute;
  right: 75px;
  top: 20px;
  cursor: pointer;
}

.web3modal-modal-lightbox {
  z-index: 6 !important;
}

.loginSlideDot {
  left: -60% !important;
}

.loginModalSlideText {
  position: absolute;
  top: 30%;
  color: #6e6e97;
  padding-left: 30px;
  text-align: left;
  max-width: 220px;
  font-size: 18px;
  user-select: none;
}

.loginModalGoogleButton {
  height: 43px;
  border-radius: 4px;
}

.sign-in-button {
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: normal;
}

.verify-email__title {
  font-size: 18px;
  color: #313541;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.verify-email__desc {
  font-size: 12px;
  color: #84848a;
  width: 260px;
  text-align: center;
  margin: 20px auto;
}

@media screen and (--footprint-breakpoint-max-pad) {
  .loginModalRoot {
    transform: scale(0.8);
  }
}
