.search__tabs {
  width: 1120px;
}

.search__tabs .ant-tabs-tab {
  font-size: 20px;
  font-weight: bold;
  color: #84848a;
}

.search__tabs .ant-tabs-nav:before {
  border-bottom: 0;
}

.search__tabs .ant-tabs-ink-bar {
  height: 3px !important;
}

.search__tabs .ant-tabs-tab-btn {
  font-size: 16px;
}

.search .dashboards__cell h2 {
  font-size: 20px;
}

.search .hots {
  margin: 12px 0;
}

.search .ant-tabs-content-holder {
  margin-top: 10px;
}

.search__tabs .ant-tabs-top >.ant-tabs-nav, .ant-tabs-bottom >.ant-tabs-nav, .ant-tabs-top >div>.ant-tabs-nav, .ant-tabs-bottom >div>.ant-tabs-nav {
  margin: 0 0 42px 0;
}

.search__tabs .ant-tabs >.ant-tabs-nav .ant-tabs-nav-list, .ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
}

/*.search__tabs .ant-tabs .ant-tabs-tab {*/
/*  margin-left: 60px;*/
/*}*/

/*.search__tabs .ant-tabs .ant-tabs-tab:nth-child(1) {*/
/*  margin-left: 0;*/
/*}*/

/*.creator__tabs .ant-tabs .ant-tabs-tab:nth-child(4) {*/
/*  margin-left: auto;*/
/*}*/

.search__tabs .explore__list-item {
  margin: 10px;
}

.search__tabs .news-articles__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.search__tabs-other {
  position: absolute;
  top: 64px;
  right: 0;
}

.search__tabs-search {
  width: 150px;
}

.dark .search__tabs-search button:where {
 color: #ffffff;
}

.dark .ga-layout .ant-btn-default {
  border-color: #d9d9d9;
}

@media screen and (--footprint-breakpoint-max-home-width) {
  .search__tabs .ant-tabs-nav {
    padding: 0 20px;
  }
}

@media screen and (--footprint-breakpoint-max-pad) {
  .search__tabs .ant-tabs-nav {
    padding: 0 20px;
  }
}

@media screen and (--footprint-breakpoint-max-mobile) {
  .search__tabs {
    width: 100%;
  }
}
