.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.bounded-overflow-x-scroll {
  width: 100%;
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.side_menu_trigger {
  position: fixed;
  top: 50%;
  background: white;
  padding-top: 6px;
  border-radius: 0px 10px 10px 0px;
}
