  </div>
  {{#logoFooter}}
    <div style="padding-bottom: 2em; padding-top: 1em; text-align: center;">
      {{> metabase/email/_logo }}
    </div>
  {{/logoFooter}}
  {{#followUs}}
    <div style="background:#EaEaEa;text-align: center; padding: 20px; max-width: 650px; margin: auto; ">
      <a href="https://www.footprint.network" target="_blank"><img style="height: 40px;" src="https://static.footprint.network/img_mail_logo_v3.png" alt="logo_and_slogan"/></a>
      <div style="color: #555555;font-size: 20px;font-weight: 400;margin: 20px;">Follow us:</div>
      <div>
        <a href="https://twitter.com/Footprint_DeFi" target="_blank"><img src="https://static.footprint.network/img_mail_twitter_v2.png" alt="twitter"/></a>
        <a href="https://discord.com/invite/3HYaR6USM7" target="_blank"><img src="https://static.footprint.network/img_mail_discord_v2.png" alt="discord"/></a>
        <a href="https://t.me/joinchat/4-ocuURAr2thODFh" target="_blank"><img src="https://static.footprint.network/img_mail_telegram_v2.png" alt="telegram"/></a>
        <a href="https://medium.com/@footprintofficial" target="_blank"><img src="https://static.footprint.network/img_mail_medium_v2.png" alt="medium"/></a>
        <a href="https://www.youtube.com/channel/UCKwZbKyuhWveetGhZcNtSTg" target="_blank"><img src="https://static.footprint.network/img_mail_youtube_v2.png" alt="youtube"/></a>
      </div>
    </div>
  {{/followUs}}
</body>
</html>
