{{> metabase/email/_header }}
  <div>
    {{#sso}}
      <p>You're using Google to log in to Footprint, so you don't have a password. You can log in to Footprint by clicking "Sign in with Google"</p>
      <a href="{{hostname}}">Go to Footprint</a>
    {{/sso}}
    {{^sso}}
      {{#isActive}}
        <div style="background:#fff; max-width: 650px; margin: auto; color: #333; ">
          <div style="text-align: center; padding: 20px">
            <p style="width: 100%; text-align: left; font-size: 18px;">Hi ,</p>
            <p style="width: 100%; text-align: left; font-size: 18px;">Please confirm that you would like to reset your password for your Footprint account. </p>
            <a style="display: inline-block; box-sizing: border-box; font-size: 16px; padding: 10px 20px; cursor: pointer; text-decoration: none; border-radius: 4px; background-color: #3434b2; border-color: #4990E2; color: #fff;" href="{{passwordResetUrl}}">Reset password</a>
            <p style="padding-top: 2em; font-size: 16px;">Didn't request this password reset? It's safe to ignore it.</p>
          </div>
      {{/isActive}}
      {{^isActive}}
        <p>Someone requested a password reset for your Footprint account at {{hostname}}, but your account
        has been deactivated. Contact an administrator for further assistance.</p>
        {{#adminEmailSet}}
          <a href="mailto:{{adminEmail}}">Contact your administrator</a>
        {{/adminEmailSet}}
      {{/isActive}}
    {{/sso}}
  </div>
{{> metabase/email/_footer }}
