.ga-layout__header {
  background-color: #fff;
  border-bottom: 1px solid #dcdee4;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
}

.ga-layout__header-left,
.ga-layout__header-right {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
}

.ga-layout__header-right {
  justify-content: flex-end;
}
.ga-layout {
  background-color: #f9fbfc;
}
.ga-layout__content {
  padding-top: 0px;
  background-color: #f9fbfc;
  overflow: auto;
}

.ga-dark .ga-layout__content {
  background-color: #000000;
}

.ga-layout__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ga-layout__logo-icon {
  width: 127px;
  height: 30px;
}

.ga-layout__logo-divider {
  width: 1px;
  height: 20px;
  background-color: #dcdee4;
  margin: 0 8px;
}

.ga-layout__logo-text {
  font-size: 14px;
  font-weight: 700;
}

.ga-layout--hide-sub-menu .ga-dashboard__sider {
  width: 100px;
  background-color: #f8fafb;
}

.ga-layout--hide-sub-menu .ga-dashboard__content {
  margin-left: 100px;
}

.ga-layout--hide-sub-menu .ga-dashboard__sider-sub-menu {
  display: none;
}

.ga-layout__sign {
  border-radius: 4px !important;
  border: 1px solid #3434b2;
  color: #3434b2;
}

.ga-dark h1,
.ga-dark h2,
.ga-dark h3,
.ga-dark h4,
.ga-dark h5,
.ga-dark h6 {
  color: #ffffffe0;
}

.ga-layout .ant-layout {
  background: #000000;
}
