.ga-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ga-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ga-my-120 {
  margin: 120px 0;
}

.ga-full-content {
  height: calc(100vh - 60px - 20px - 20px);
}

.ga-btn {
  border-radius: 4px;
  font-size: 16px;
  width: 210px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ga-btn--white {
  background-color: #fff;
  color: #3434b2;
}

.ga-btn--white:hover {
  color: #3434b2;
}

.ga-btn--plain {
  border: 1px solid #fff;
  color: #fff;
}

.ga-btn--plain:hover {
  color: #fff;
}

.ga-quote {
  position: relative;
}

.ga-quote::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -20px;
  background-image: url("https://static.footprint.network/20220225173135.png");
  background-size: cover;
  width: 25.92px;
  height: 22.56px;
}

.ga-quote::after {
  content: "";
  position: absolute;
  right: -60px;
  bottom: -20px;
  background-image: url("https://static.footprint.network/20220225173217.png");
  background-size: cover;
  width: 25.92px;
  height: 22.56px;
}
.ga-icon {
  /* w-5 h-5 inline mr-1 */
  width: 25px;
  height: 25px;
  display: inline;
  margin-right: 10px;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.mt-10 {
  margin-top: 10px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-200 {
  margin-left: 200px;
}
.ml-250 {
  margin-left: 250px;
}
.items-center {
  align-items: center;
}
