.parameter-value-widget__series-date-group {
  margin: 1px 4px 0 0;
  padding: 2px;
  border-radius: 6px;
  background: #FAFAFC;
}

.Theme--night .parameter-value-widget__series-date-group {
  background: transparent;
}

.parameter-value-widget__series-category-group {
  padding: 4px 0px 4px 0px;
}

.parameter-value-widget__series-category-group-more {
  padding: 0 4px;
  color: var(--footprint-color-secondary-text1);
}

.parameter-value-widget__series-category-group-loading {
  color: var(--footprint-color-secondary-text1);
}

.parameter-value-widget__series-date-group-item {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}

.parameter-value-widget__series-category-group
.ant-checkbox-wrapper
+ .ant-checkbox-wrapper {
  margin-left: 0;
}

.parameter-value-widget__series-date-group .ant-radio-button-wrapper-checked {
  /*background: #3434B2 !important;*/
  border-radius: 6px !important;
}

.parameter-value-widget__series-date-group .ant-radio-button-wrapper {
  border: 0 !important;
  background: transparent;
  position: inherit !important;
  box-shadow: 0 0 0 0 !important;
  border-radius: 6px !important;
}

.parameter-widget-input {
  color: var(--color-text-axis);
}

.DatePicker .ant-picker-input {
  display: none;
}
.DatePicker .ant-picker-range-separator {
  display: none;
}

.DatePickerActive .anticon {
  color: var(--color-brand);
}

.DatePicker .ant-picker-suffix {
  margin-inline-start: 0px;
  font-size: 18px;
}
.ant-picker {
  padding: 4px 4px 4px 0px;
  cursor: pointer;
}

.Dashboard--night .parameter-widget-input {
  color: var(--color-text-white);
}
