.AddToolPopover .ant-popover-inner-content {
  padding: 0;
}

.AddToolPopover {
  opacity: 0.9;
}

.AddToolPopover-content {
  display: flex;
  align-items: stretch;
  padding: 10px;
}

.AddToolPopover-content-l {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  flex: 1;
  margin-right: 10px;
  cursor: pointer;
  padding: 0 30px;
}

.AddToolPopover-content-l h3 {
  margin-top: 20px;
  font-size: 14px;
  white-space: nowrap;
}

.AddToolPopover-content-l h3 span {
  margin-right: 10px;
}

.AddToolPopover-content-r {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AddToolPopover-tools .ant-btn {
  width: 100%;
  text-align: left;
}

.HiddenCreatePanel {
  width: 0;
  height: 0;
  margin-top: -40px;
}
