.MultiEmbed .ant-tabs {
  height: 100% !important;
}
.MultiEmbed .ant-tabs .ant-tabs-tabpane {
  height: 100% !important;
}
.MultiEmbed .ant-tabs .ant-tabs-content {
  height: 100% !important;
}
.MultiEmbed .ant-tabs .ant-tabs-content-holder {
  height: 100% !important;
}
