:root {
  --text-card-padding: 0.65em;
}

:local .Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em 0.75em;
  height: 100%;
}
:local .Text .text-card-textarea {
  padding: 0.25em 0.75em;
  font-size: 1.143em;
  line-height: 1.602em;
  pointer-events: all;
  resize: none;
  outline: none;
  border-radius: var(--default-border-radius);
  min-height: unset;
  height: inherit;
}
:local .Text .text-card-textarea:focus {
  border-color: var(--color-brand);
  background-color: white;
  box-shadow: 0 1px 7px var(--color-shadow);
}
:local .Text .text-card-markdown {
  pointer-events: all;
  word-break: break-all;
}

:local .Text .text-card-markdown h1 {
  font-weight: 900;
  font-size: 1.831em;
  margin: 0.375em 0 0.25em 0;
}
:local .Text .text-card-markdown h2 {
  font-size: 1.627em;
  margin: 0.375em 0 0.25em 0;
}
:local .Text .text-card-markdown h3 {
  font-size: 1.447em;
  margin: 0.375em 0 0.25em 0;
}
:local .Text .text-card-markdown h4 {
  font-size: 1.286em;
  margin: 0.375em 0 0.25em 0;
}
:local .Text .text-card-markdown h5 {
  font-size: 1.143em;
  margin: 0.375em 0 0.25em 0;
}
:local .Text .text-card-markdown p {
  font-size: 1.143em;
  line-height: 1.602em;
  padding: 0;
  margin: 0 0 0.5em 0;
}

:local .text-card-markdown ul {
  font-size: 1.2em;
  margin: 0.5em 0 0.5em 0;
  padding: 0 1.5em;
  list-style-type: disc;
}
:local .text-card-markdown ol {
  font-size: 1.2em;
  margin: 0.5em 0 0.5em 0;
  padding: 0 1.5em;
  list-style-type: decimal;
}

:local .text-card-markdown li {
  list-style-position: outside;
  padding: 0.25em 0 0 0;
}

:local .text-card-markdown a {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-brand);
}
:local .text-card-markdown a:hover {
  text-decoration: underline;
}

:local .text-card-markdown a:hover {
  text-decoration: underline;
}

:local .text-card-markdown th {
  text-align: left;
}
:local .text-card-markdown table {
  /* standard table reset */
  border-collapse: collapse;
  border-spacing: 0;

  margin: 1em 0 1em 0;
  width: 100%;
  font-family: Arial, Monaco, monospace;
  font-size: 12.64px;
  line-height: 0.76rem;
  text-align: left;
}
:local .text-card-markdown tr {
  border-bottom: 1px solid color(var(--color-border) alpha(-70%));
}
:local .text-card-markdown tr:nth-child(even) {
  background-color: color(var(--color-bg-black) alpha(-98%));
}
:local .text-card-markdown th,
:local .text-card-markdown td {
  padding: 0.75em;
  border: 1px solid color(var(--color-border) alpha(-70%));
}

:local .text-card-markdown code {
  font-family: Arial, Monaco, monospace;
  font-size: 12.64px;
  line-height: 20px;
  padding: 0 0.25em;
  background-color: var(--color-bg-light);
  border-radius: var(--default-border-radius);
}

:local .text-card-markdown pre code {
  padding: 1em;
  display: block;
  margin-right: 1.5em;
}

:local .text-card-markdown blockquote {
  color: var(--color-text-medium);
  border-left: 5px solid var(--color-border);
  padding: 0 1.5em 0 17px;
  margin: 0.5em 0 0.5em 1em;
}
:local .text-card-markdown blockquote p {
  padding: 0;
  margin: 0;
}

:local .text-card-markdown img {
  max-width: 100%;
  height: auto;
}

:local .single-row {
  margin: 0;
}

@media screen and (--footprint-breakpoint-max-pad) {
  :local .Text {
    overflow-y: scroll;
  }
  :local .Text .text-card-markdown {
    height: 100%;
  }
  :local .Text .text-card-markdown pre {
    overflow: initial;
  }
  :local .Text .text-card-markdown h1 {
    font-size: 18px;
  }
  :local .Text .text-card-markdown h2 {
    font-size: 17px;
  }
  :local .Text .text-card-markdown h3 {
    font-size: 16px;
  }
  :local .Text .text-card-markdown h4 {
    font-size: 14px;
  }
  :local .Text .text-card-markdown h5 {
    font-size: 12px;
  }
  :local .Text .text-card-markdown p {
    font-size: 12px;
  }
  :local .text-card-markdown ul {
    font-size: 12px;
  }
  :local .text-card-markdown ol {
    font-size: 12px;
  }
}
