.About {
  min-height: 100vh;
  color: #fff;
  background: #121827;
  font-size: 14px;
  font-family: roboto;
}

.About:before {
  /*  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(https://static.footprint.network/20220606145109.png);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #0c0c34;
  content: "";*/
}

.About a:hover {
  color: inherit;
}

.About__container {
  width: 1280px;
  margin: 0 auto;
}

.About__title {
  font-size: 36px;
  color: white;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  filter: brightness(1);
}

.About__title-white {
  color: #fff;
}

.About__title-white h3 {
  color: #fff;
}

.About__title-bland {
  color: var(--color-brand);
}

.About__title-light-blue {
  color: #00fcfe;
}

.About__desc {
  color: #A0AEC0;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

.About__sub-title {
  color: #A0AEC088;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

.About__btn {
  border-radius: 24px;
  height: 48px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 16px;
  background: #4444FF;
  border: 0;
  font-weight: normal;
}

.about__button-second {
  background: #172033;
  border: 1px solid #4A5468;
}

.About__btn-radius {
  border-radius: 4px;
}

.About__btn img {
  height: 18px;
  margin-right: 8px;
}

.About__btn--gray {
  border: 1px solid #84848a;
  background-color: transparent;
  color: #303440;
}

.About__btn--blue {
  background-color: #313bb3;
  color: #fff;
}

.About__btn--dark-blue {
  background-color: #313bb3;
  color: #fff;
}

.About__btn--black {
  background-color: #181818;
}

.About__btn--white {
  background-color: #fff;
  color: #303440;
}

.About__btn--width-250 {
  width: 250px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 32px;
  border-radius: 4px;
}

.About__btn--width-250:hover {
  background-color: #313bb3;
  color: white;
}

.About__btn--lg {
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  padding: 0 40px;
  margin-top: 32px;
}

.About__btn--md {
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  padding: 0 24px;
  margin-top: 32px;
}

.About__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
}

.About__header-left {
  display: flex;
  align-items: center;
}

.About__header-logo {
  height: 28px;
  margin-right: 60px;
}

.About__header-nav {
  display: flex;
}

.About__header-nav li {
  margin-right: 30px;
  color: #303440;
}

.About__header-right {
  display: flex;
  align-items: center;
}

.About__header-right .About__btn {
  margin-left: 12px;
}

.About__search {
  background-color: #ffffff;
  border-radius: 2px;
  height: 32px;
  width: 116px;
  display: flex;
  align-items: center;
  color: #84848a;
  padding: 0 12px;
  margin-right: 12px;
}

.About__search-icon {
  color: #84848a;
  font-size: 16px;
  margin-right: 6px;
}

.About__search-input {
  width: 100%;
  border: none;
  outline: none;
}

.About__start {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px 0 46px;
  height: 851px;
  max-width: 1920px;
  margin: 0 auto;
  background-image:
    url("https://static.footprint.network/home-v2/img_start_bg_v5.jpg?x-oss-process=image/format,jpg/quality,q_95");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.About__start-pea {
  position: absolute;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
  padding: 12px;
  top: 0;
  left: 0;
  background-color: #ffffff24;
}


.About__start-pea img {
  width: 40px;
  height: 32px;
  margin-right: 4px;
}
.About__start-title {
  color: #303440;
  padding-left: 10px;
  width: 1280px;
  margin: 0 auto;
}

.About__start-title h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
  color: white;
}

.About__start img {
  margin-right: 8px;
}

.About__start ul {
  margin-top: 40px;
}

.About__start li {
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  line-height: 30px;
  height: 30px;
  margin: 16px 0;
}

.About__start-title h2 {
  margin-left: 10px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.About__start-buttons {
  display: flex;
  grid-column-gap: 20px;
}

.About__data-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1920px;
  margin: -80px auto 0;
  padding: 0 0 80px 0;
}

.About__data-feature h3 {
  font-size: 32px;
  color: white;
  margin-top: 60px;
  font-weight: normal;
}

.About__data-feature h4 {
  font-size: 18px;
  color: #A0AEC0;
  font-weight: normal;
}

.About__data-feature ul {
  display: flex;
  margin: 30px 0;
}

.About__data-feature li {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #182034;
  border: 1px #4A556888 solid;
  border-radius: 10px;
  margin: 16px;
}

.About__data-feature span {
  margin-top: 18px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.About__data-model {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 20px 0;
  background-image: url("https://static.footprint.network/home-v2/img_hexagon_bg_7.png");
  background-size: 580px 150px;
  background-repeat: no-repeat;
  background-position: top left;
}

.About__data-model-image {
  text-align: center;
  margin: 20px 0 0;
}

.About__data-model h4 {
  font-size: 16px;
  color: #A0AEC0;
  font-weight: normal;
  margin-top: 4px;
}

.About__data-trusted {
  padding: 120px 0 80px 0;
}

.About__data-trusted .ant-carousel .slick-list .slick-slide >div>div {
  height: 410px;
}

.About__data-trusted-detail {
  width: 588px;
  white-space: break-spaces;
  overflow: auto;
  line-height: 1.5;
}

.About__data-trusted-inner {
  width: 100%;
  height: 488px;
  margin: 0px auto;
  border-radius: 20px;
  padding: 40px 0;
  display: flex;
}

.About__data-trusted-inner ul {
  width: 100%;
  position: relative;
  display: flex;
  white-space: nowrap;
  gap: 40px;
}

.About__data-trusted-inner-anim {
  -webkit-animation: 120s swipe-left linear infinite normal;
  animation: 120s swipe-left linear infinite normal;
}

.About__data-trusted-inner ul:hover {
  animation-play-state: paused;
}

.About__data-trusted-carousel {
  width: 688px;
  height: 488px;
  background: #182034;
  color: #ffffffa0;
  display: flex !important;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
  font-size: 22px;
  border-radius: 20px;

  position: relative;
  white-space: break-spaces;
  margin: 20px 0;
  display: flex;

}

.About__data-trusted-carousel-left {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  gap: 20px;
}

.About__data-trusted-carousel-right {
  width: 600px;
  margin-right: 80px;
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  white-space: pre-line;
}

.About__data-trusted-carousel-left h3 {
  font-size: 28px;
  color: white;
}

.About__data-trusted-carousel-left span {
  font-size: 18px;
}

.About__data-coverage {
  height: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://static.footprint.network/home-v2/img_data_coverage_bg.png");
  background-size: 1920px 960px;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 100px 0;
}

.About__data-coverage-chain {
  width: fit-content;
  font-size: 64px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  background: linear-gradient(90deg, #FFFFFF 0%, #4444FF 100%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.About__chain-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
}

.About__chain-layout-item {
  width: 68px;
  height: 68px;
}

.About__chain-layout-item img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.About__data-image {
  margin: 40px 0;
}

.About__data-coverage ul {
  display: flex;
  justify-content: center;
  margin: 80px 0 80px 0;
}

.About__data-coverage li {
  width: 220px;
  height: 131px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://static.footprint.network/home-v2/img_data_border.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.About__data-coverage li h4 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  line-height: 1.3;
}

.About__data-coverage li span {
  font-size: 16px;
  color: #BCBEC1;
  font-weight: normal;
}

.About__demo {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.About__demo h3 {
  width: fit-content;
  font-size: 36px;
  color: white;
  margin-top: -40px;
  background: linear-gradient(90deg, #FFFFFF 0%, #4444FF 100%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.About__demo-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.About__demo-block {
  width: 340px;
  height: 260px;
  border-radius: 24px;
  background: #2A3246;
  padding: 40px;
}

.About__demo-block-title {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 20px 0 10px 0;
}

.About__demo-block-desc {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  line-height: normal;
  margin-bottom: 15px;
}

.About__demo-analytics-app, .About__demo-data-api {
  filter: brightness(1);
}

.About__demo-analytics-app ul, .About__demo-data-api ul {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.About__demo-analytics-app li, .About__demo-data-api li {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 4px 0;
  display: flex;
  align-items: center;
}

.About__demo-top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.About__demo-top-right-bottom {
  display: flex;
}

.About__demo-tool-block {
  width: 540px;
  height: 230px;
  border-radius: 24px;
  background: #151A24;
  padding: 30px 40px;
  margin: 40px 0 20px 60px;
}

.About__demo-tool-block-title {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: 12px;
  white-space: pre-line;
}

.About__demo-tool-block-desc {
  color: #A0AEC0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  white-space: pre-line;
}

.About__demo-tool-block-content {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 20px;
}

.About__demo .About__demo-growth-analytics h3 {
  margin-top: -80px;
}

.About__demo h4 {
  font-size: 16px;
  font-weight: normal;
  color: #A0AEC0;
  margin: 10px 0;
}

.About__demo span {
  font-size: 18px;
  color: white;
  line-height: 1.4;
}

.About__demo-growth-analytics {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.About__demo-growth-analytics-image {
}

.About__demo-growth-analytics-left {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px;
  flex: 1;
}

.About__demo-bottom {
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  flex-wrap: wrap;
  gap: 40px;
}

.About__demo-analytics-app {
  display: flex;
  flex-direction: column;
  min-width: calc((100% - 100px) / 2);
  flex: 1;
  background-color: #182034ee;
  padding: 80px 0 0 0;
  height: 620px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.About__demo-data-api-content {
  height: 80px;
}

.About__demo-data-api-content span {
  font-size: 18px;
}

.About__demo-analytics-app2 {
  display: flex;
  flex-direction: column;
  min-width: calc((100% - 100px) / 2);
  background-color: #182034ee;
  padding: 80px 0 0 0;
  height: 620px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.About__demo-data-api {
  width: 1280px;
  height: 510px;
  padding: 0;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  background-image:
    url("https://static.footprint.network/home-v2/img-demo-1-5-v2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  min-width: calc((100% - 100px) / 2);
  background-color: #182034ee;
  border-radius: 30px;
}

.About__demo-data-api-buttons {
  display: flex;
  column-gap: 20px;
}

.About__demo-long-app-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.About__demo-long-api-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.About__depth {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.About__depth h2 {
  font-size: 36px;
  color: white;
}

.About__depth h4 {
  font-size: 48px;
  color: white;
}

.About__depth-h5-text {
  font-size: 16px;
  font-weight: normal;
  color: #A0AEC0;
  text-align: center;
}

.About__depth-button {
  margin: 40px 0 60px 0;
  filter: brightness(1);
}

.About__depth-tabs {
  border-bottom: 1px solid #4A5568;
}

.About__depth-tabs ul {
  display: flex;
  justify-content: center;
}

.About__depth-tabs li {
  height: 72px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.About__depth-tabs li:hover {
  background: linear-gradient(0deg, #2C2E94, transparent);
  border-bottom: 1px solid #4444ff;
}

.About__depth-tabs-li-selected {
  background: linear-gradient(0deg, #2C2E94, transparent);
  border-bottom: 1px solid #4444ff;
}

.About__depth-tabs li h3 {
  text-align: center;
  font-size: 16px;
  margin-left: 10px;
  font-weight: normal;
}

.About__depth-panel {
  display: flex;
  flex-direction: column;
  background: #182034;
  border-radius: 20px;
  max-width: 1440px;
  filter: brightness(1);
}

.About__depth-panel-inner {
  display: flex;
  max-width: 1440px;
  height: 508px;
  z-index: 1;
}

.About__depth-panel-left {
  display: flex;
  width: 700px;
  flex-direction: column;
  padding: 150px 50px 0 60px;
  flex: 1;
}

.About__depth-panel-buttons {
  display: flex;
  flex-direction: column;
}

.About__depth-panel-buttons Link {
  color: #6C70FF;
}

.About__depth-panel-right {
  width: 700px;
  height: 100%;
  background: linear-gradient(270deg, #44F 0%, #7CB8FF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 0;
}

.About__depth-panel-image {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About__depth-panel-left-h3-text {
  color: white;
  font-size: 24px;
  white-space: pre-line;
  line-height: 1.5;
}

.About__depth-panel-left-h4-text {
  color: #A0AEC0;
  font-size: 16px;
  white-space: pre-line;
  margin: 20px 0 30px 0;
  font-weight: normal;
}

.About__depth-dividing-line {
  max-width: 1440px;
  margin: -60px auto 0;
  height: 1px;
  background: radial-gradient(closest-side at 50% 49%, #4444ff 0%, rgba(68, 68, 255, 0) 100%);
}

.About__depth-dividing-line-gray {
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid #353C4A;
}

.About__depth-circle-bg {
  width: 1200px;
  height: 800px;
  border-radius: 1200px;
  background: linear-gradient(270deg, rgba(68, 68, 255, 0.40) 0%, rgba(124, 184, 255, 0.40) 100%);
  filter: blur(75px);
  position: absolute;
  top: 16%;
  z-index: 0;
}

.About__partnerV2 {
  max-width: 1280px;
  margin: -150px auto 0;
  padding: 20px 0 100px 0;
}

@keyframes swipe-left {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-5000px, 0, 0);
    transform: translate3d(-5000px, 0, 0);
  }
}
@keyframes swipe-right {
  0% {
    -webkit-transform: translate3d(-5000px, 0, 0);
    transform: translate3d(-5000px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.About__partnerV2-list-top,
.About__partnerV2-list-bottom {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.About__partnerV2-list-top ul,
.About__partnerV2-list-bottom ul {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  gap: 40px;
}

.About__partnerV2-list-top li {
  position: relative;
  white-space: break-spaces;
  margin: 4px 0;
  display: flex;
  animation: 100s swipe-left linear infinite normal;
}

.About__partnerV2-list-bottom li {
  position: relative;
  white-space: break-spaces;
  margin: 10px 0;
  display: flex;
  animation: 100s swipe-right linear infinite normal;
}

.About__partnerV2-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.About__partnerV2-list-item .ant-image {
  text-align: center;
}

.About__partnerV2-list-item img {
  margin: 0 auto;
}

.About__see {
  position: relative;
  margin-top: 52px;
}

.About__see-pic {
  border: 0;
  width: 1120px;
  height: 520px;
  border-radius: 4px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.About__see .About__btn {
  position: absolute;
  width: 192px;
  padding: 0;
  top: 50%;
  left: 50%;
  margin-left: calc(-192px / 2);
  margin-top: calc(-48px / 2);
}

.About__cover {
  height: 618px;
  padding: 100px 0;
  background-size: cover;
}

.About__cover-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.About__cover-list ul {
  display: flex;
}

.About__cover-list li {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.About .ant-spin-dot-item {
  background-color: #fff;
}

.About__cover-list h3 {
  margin-bottom: 40px;
}

.About__cover-list b {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
}

.About__cover-list h4 {
  font-size: 16px;
  color: #84848a;
  margin-top: 10px;
  font-weight: 400;
}

.About__section {
  padding: 40px 0;
}

.About__section--borderless {
  border-bottom: 0;
}

.About__section h3 {
  margin-bottom: 40px;
}

.About__section-wrap {
  display: flex;
  grid-column-gap: 80px;
}

.About__section-wrap--reverse {
  flex-direction: row-reverse;
}

.About__section-side {
  width: 360px;
  background: #f6f6fe;
}

.About__section-side h4 {
  margin-top: 20px;
}

.About__section-side ul {
  margin-top: 28px;
}

.About__section-side li {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #303440;
  line-height: 1.2;
  padding: 14px 20px;
  cursor: pointer;
  border-left: 3px solid transparent;
  margin-bottom: 10px;
}

.About__section-side li:hover,
.About__section-side li.About__section-side--active {
  border-left: 3px solid #2a2aeb;
  background: #fff;
  font-weight: bold;
}

.About__section-preview h4 {
  font-size: 16px;
  color: #303440;
  line-height: 1.2;
  font-weight: bold;
}

.About__section-preview p {
  font-size: 16px;
  color: #303440;
  line-height: 1.2;
  margin-top: 12px;
}

.About__section-img {
  width: 660px;
  height: auto;
  border-radius: 4px;
  margin-top: 12px;
}

.About__section-img-shadow {
  box-shadow: 0 6px 48px #3434b213;
}

.About__section-img-placeholder {
  padding: 20px;
}

.About__service {
  padding: 100px 0;
}

.About__service ul {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.About__service li {
  width: 230px;
  height: 230px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  text-align: center;
  box-shadow: 0 6px 24px #30344013;
}

.About__service-icon img {
  width: auto;
  height: 100px;
  margin-bottom: 8px;
}

.About__service-button {
  background: #2a2aeb;
  border: 0;
  font-size: 16px;
  color: white;
}

.About__service h4 {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 12px;
  color: #303440;
}

.About__service p {
  font-size: 14px;
  color: #84848a;
  line-height: 20px;
  height: 60px;
}

.About__service small {
  font-size: 14px;
  color: #84848a;
}

.About__service a {
  font-size: 14px;
  color: #5c5ce0;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
}

.About__service a:hover {
  color: #5c5ce0;
}

.About__service .anticon {
  margin-left: 8px;
}

.About__explore {
  padding: 100px 0;
}

.About__explore--card {
  background-color: #fff;
}

.About__explore--card .About__explore-list-left img {
  object-position: center top;
}

.About__explore-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.About__explore-title a {
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  width: 100px;
  text-align: center;
  background: #313bb3;
  padding: 4px 12px;
  transition: unset;
}

.About__explore-title a:hover {
  color: #fff;
  border-color: #fff;
}

.About__explore-nav {
  display: flex;
}

.About__explore-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  cursor: pointer;
  padding: 11px 12px;
  font-size: 16px;
  color: #84848a;
  line-height: 20px;
}

.About__explore-nav li:hover,
.About__explore-nav li.About__explore-nav--active {
  background-color: #2a2aeb;
  border-radius: 2px;
  color: #fff;
}

.About__explore-list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.About__explore-skeleton {
  margin-top: 40px;
  height: 336px;
}

.About__explore-list-left {
  border-radius: 4px;
  width: 520px;
  min-width: 520px;
  height: 336px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-right: 48px;
}

.About__explore-list-left img {
  border-radius: 4px;
  width: 100%;
  height: 272px;
  background-color: #fff;
  object-fit: cover;
  object-position: left top;
}

.About__explore-list-left h3 {
  font-size: 18px;
  color: #000000;
  line-height: 1;
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.About__explore-list-right {
  border-left: 1px solid #dcdee4;
  padding-left: 48px;
}

.About__explore-list-news-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 583px;
  padding: 26px 0;
  border-bottom: 1px solid #2e2e72;
}

.About__explore-list-right li:first-child a {
  padding-top: 0;
}

.About__explore-list-right li:last-child a {
  padding-bottom: 0;
  border-bottom: 0;
}

.About__explore-list-right h3 {
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80%;
}

.About__explore-list-arrow {
  width: 26px;
}

.About__explore-list-news-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: 1px solid #dcdee4;
}

.About__explore-list-news-card h3 {
  white-space: unset;
  line-height: 1.2;
  margin-bottom: 12px;
  font-size: 18px;
  max-width: 100%;
  color: #303440;
}

.About__explore-list-news-card span {
  font-size: 14px;
  color: #84848a;
}

.About__explore-list-news-card img {
  min-width: 206px;
  width: 206px;
  height: 118px;
  background-color: #fff;
  margin-left: 24px;
  object-fit: cover;
  object-position: center top;
}

.About__backed {
  padding: 100px 0 120px;
}

.About__partner {
  padding: 20px 0 100px;
}

.About__backed ul,
.About__partner ul {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.About__backed li,
.About__partner li {
  background-color: #182034;
  border-radius: 10px;
  height: 180px;
}

.About__partner li {
  height: 83px;
}

.About__backed a,
.About__partner a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.About__backed img,
.About__partner img {
  object-fit: scale-down;
  width: 70%;
  height: 60%;
}

.About .home-footer-container {
  background-color: #121827;
}

.About__social {
  display: flex;
  grid-column-gap: 12px;
}

.About__social-item-icon-bg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About__basic {
  display: flex;
  flex-direction: column;
  grid-column-gap: 40px;
  margin-top: 50px;
}

.About__basic-process {
  display: flex;
  justify-content: center;
  grid-column-gap: 80px;
}

.About__basic-bottom-bg {
  margin-top: -100px;
  margin-left: 30px;
  height: 90px;
}

.About__basic-item {
  display: flex;
  flex-direction: column;
}

.About__basic-item-box {
  height: 210px;
  width: 240px;
  background: linear-gradient(225deg, #eef2ff, #ffffff);
  border: 3px solid white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 20px;
  position: relative;
}

.About__basic-item-box:after {
  display: block;
  content: "";
  border-width: 12px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 100%;
}

.About__basic-item-circle {
  background: #a1a1a188;
  margin: 40px auto 0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About__basic-item-circle-inner {
  background: #2a2aeb;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.About__basic-item b {
  color: #3434b2;
  font-size: 42px;
  line-height: 60px;
  font-weight: 600;
  font-family: Barlow;
}

.About__basic-item h3 {
  color: #303440;
  font-size: 16px;
}

.About__basic-item img {
  margin-top: 16px;
}

.About__explore-domain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  background-color: #fafbfe;
}

.About__explore-domain-panel-dark,
.About__explore-domain-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
}

.About__explore-domain-panel-item {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About__explore-domain-panel .divider {
  border-left: #d8d8d8 1px solid;
  height: 40px;
  width: 1px;
}

.About__explore-domain-panel b {
  font-size: 42px;
  font-weight: 600;
  color: #3434b2;
  line-height: 60px;
  font-family: Barlow;
}

.About__explore-domain-panel h3 {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.About__explore-domain-panel-dark b {
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  line-height: 60px;
}

.About__explore-domain-panel-dark .divider {
  border-left: #fff 1px solid;
  height: 40px;
  width: 1px;
}

.About__explore-domain-panel-dark h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.About__explore-tab-dark,
.About__explore-tab {
  display: flex;
  margin: 40px 0 8px;
}

.About__explore-tab li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 16px;
  color: #303440;
  line-height: 20px;
}

.About__explore-tab-dark li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
}

.About__explore-tab li:hover,
.About__explore-tab li.About__explore-tab--active {
  background-color: #313bb3;
  border-radius: 4px;
  color: #fff;
}
.About__explore-tab-dark li:hover,
.About__explore-tab-dark li.About__explore-tab-dark--active {
  background-color: #fff;
  border-radius: 4px;
  color: #303440;
}
.About__explore-domain .EmbedFrame-footer {
  display: none;
}

.About__explore-domain-bg {
  background-image: url("https://static.footprint.network/img_about_icon_bg_2022081510.png?1"),
    url("https://static.footprint.network/img_about_icon_bg_2022081511.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081512.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081513.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081514.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081515.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081516.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081517.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081518.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081519.png");
  background-size: 48px 68px, 32px 32px, 56px 56px, 48px 48px, 240px 240px,
    48px 48px, 56px 56px, 80px 80px, 56px 56px, 80px 80px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top 23% left 0, top 13% left 12%, top 18% left 18%,
    top 8% left 22%, top 5% left 35%, top 23% right 14%, top 11% right 12%,
    top 13% right 4%, top 33% right 1%, top 25% left 10%;
}

.About__explore-games-bg {
  background-image: url("https://static.footprint.network/img_about_icon_bg_2022081520.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081521.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081522.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081523.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081524.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081525.png"),
    url(https://static.footprint.network/img_about_explore_bg_2022081501.png?1);
  background-size: 80px 80px, 68px 68px, 68px 68px, 80px 43px, 54px 54px,
    80px 80px, cover;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat;
  background-position: top 20% left 6%, top 45% left 10%, bottom 20% left 6%,
    top 25% right 5%, top 45% right 11%, bottom 30% right 4%, center;
}

.About__explore-nft-bg {
  background-image: url("https://static.footprint.network/img_about_icon_bg_2022081530.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081531.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081532.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081533.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081534.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081535.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081601.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081602.png"),
    url("https://static.footprint.network/img_about_icon_bg_2022081604.png");
  background-size: 54px 54px, 48px 48px, 240px 132px, 32px 32px, 48px 48px,
    240px 240px, 900px 680px, 720px 520px, 92px 80px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top 30% left 5%, top 10% left 10%, top 20% right 15%,
    top 50% right 8%, bottom 5% right 20%, bottom 10% left 12%, top left,
    bottom right, bottom left;
}

.About__create-dashboards-bg {
  background-image: url("https://static.footprint.network/img_about_icon_bg_2022081603.png");
  background-size: 92px 160px;
  background-repeat: no-repeat;
  background-position: top left;
}

.About__explore-domain iframe {
  margin: 32px 0;
  box-shadow: 0 6px 60px #30344013;
}

.About__create-dashboard {
  padding: 80px 0;
  background-color: #fff;
}

.About__create-nft {
  padding: 20px 0 80px;
}

.About__granted-by {
  max-width: 1920px;
  text-align: center;
  padding-bottom: 40px;
  margin: 0 auto;
}

.About__granted-by ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 0 80px;
  gap: 15px;
  padding: 0 100px;
}

.About__granted-by ul li {
  max-width: 270px;
}

.About__granted-by ul li img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.About__banner {
  max-width: 1280px;
  height: 280px;
  margin: 20px auto 0;
  background: linear-gradient(135deg, #212A43 0%, #182034 52.28%);
  border-radius: 24px;
  border: 1px solid #ffffff11;
}

.About__banner2 {
  height: 100%;
  background-image:
    url("https://static.footprint.network/home-v2/img_solutions_bg_1.png"),
    url("https://static.footprint.network/home-v2/img_solutions_bg_2.png");
  background-size: 492px 280px, 646px 280px;
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  padding: 20px;
  border-radius: 24px;
}

.About__banner-inner {
  margin-left: 400px;
}

.About__banner h3 {
  font-size: 28px;
  color: white;
  margin: 5px 0 25px 0
}

.About__banner h5 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 30px;
  color: white;
  letter-spacing: 1.6px;
}

.About__banner span {
  font-size: 20px;
  color: #A0AEC0;
}

.About__solutions {
  max-width: 1280px;
  padding: 120px 0;
  margin: 0 auto;
  position: relative;
}

.About__solutions-line {
  background: #D8D8D820;
  height: 1px;
  width: 100%;
  margin-top: 30px;
}

.About__solutions-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  filter: brightness(1);
}

.About__solutions-inner-li {
  width: 620px;
  height: 300px;
  /*border: 1px solid #f0f0f003;*/
  border-radius: 20px;
  background: linear-gradient(135deg, #203C79, #182034);
  overflow: hidden;
  position: relative;
}

.About__solutions-inner-li .learn-more {
  width: 100%;
  margin-top: 12px
}

.About__solutions-inner-li h3 {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.About__solutions-inner-li span {
  color: #A0AEC0;
  font-size: 20px;
  white-space: pre-line;
}

.About__solutions-inner-li ul {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.About__solutions-inner-li li {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 4px 0;
  display: flex;
  align-items: center;
}

@media screen and (--footprint-breakpoint-max-home-width) {
  .About__demo-bottom {
    width: 100%;
  }
  .About__depth-panel-left {
    padding-top: 20px;
    width: 500px;
  }
  .About__demo-data-api {
    width: 100%;
  }
}

@media screen and (--footprint-breakpoint-max-pad) {
  .About__banner {
    margin: 0 20px;
  }

  .About__banner h3 {
    margin: 5px 0 15px 0;
    line-height: 1;
  }

  .About__depth-tabs li {
    width: 160px;
  }

  .About__depth-panel-left {
    padding-top: 20px;
    width: 400px;
  }

  .About__depth-panel-inner {
    width: 100%;
    flex-direction: column;
    height: 900px;
  }

  .About__demo-analytics-app,
  .About__demo-data-api,
  .About__demo-growth-analytics {
    width: 100%;
  }

  .About__demo {
    padding: 160px 0 100px 0;
  }

  .About__demo-data-api {
    margin: 20px 0 0 0;
  }

  .About__demo-bottom {
    width: 100%;
    flex-direction: column;
  }

  .About__data-coverage li {
    width: 180px;
    margin: 10px;
  }

  .About__data-coverage li h4 {
    font-size: 24px;
  }

  .About__data-feature li {
    width: 180px;
    height: 180px;
  }

  .About__section-side {
    width: 280px;
  }

  .About__section-wrap {
    grid-column-gap: 20px;
  }

  .About__container {
    width: auto;
  }

  .About__explore-list-left {
    margin-right: 16px;
  }

  .About__explore-list-right {
    margin-left: 16px;
  }

  .About__service ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .About__basic-bottom-bg,
  .About__basic-process {
    transform: scale(0.7);
    grid-column-gap: 40px;
    margin-bottom: -3%;
  }

  .About__basic-item-box {
    padding: 36px 8px;
    width: 220px;
  }

  .About__depth-panel-right {
    margin: 0 auto;
  }
}
